<div class="container">
  <div class="left-side">
    <img src="/assets/img/login-image.jpg" alt="Welcome image" />
  </div>
  <div class="right-side">
    <div class="form-box">

      <div class="top-bar">
        <app-language-switcher class="custom-color"></app-language-switcher>
      </div>

      <img class="logo" src="/assets/logos/logo.png" alt="Logo" />

      <p class="sign-up">
        <a routerLink="/sign-up">{{ 'sign-in.sign-up' | translate }}</a>
      </p>

      <p class="title">{{ 'sign-in.title' | translate }}</p>
      <p class="sub-tittle">{{ 'sign-in.sub-title' | translate }}</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">

        <mat-form-field class="full-width">
          <mat-label>{{ 'sign-in.email' | translate }}</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input matInput formControlName="email" type="email">
          @if (f['email']?.errors?.['required']) {
            <mat-error>{{ 'sign-in.errors.required' | translate }}</mat-error>
          }
          @if (f['email']?.errors?.['email']) {
            <mat-error>{{ 'sign-in.errors.email' | translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>{{ 'sign-in.password' | translate }}</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (f['password']?.errors?.['required']) {
            <mat-error>{{ 'sign-in.errors.required' | translate }}</mat-error>
          }
          @if (f['password']?.errors?.['minlength']) {
            <mat-error>{{ 'sign-in.errors.minlength' | translate: { requiredLength: 8 } }}</mat-error>
          }
        </mat-form-field>

        <button mat-flat-button color="primary" class="button-color" type="submit" [disabled]="loginForm.invalid">
          {{ 'sign-in.submit' | translate }}
        </button>

      </form>

      <p class="register-text">
        <a routerLink="/reset-password">{{ 'sign-in.forgot-password' | translate }}</a>
      </p>

    </div>
  </div>
</div>
